.introduction{
    background: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 650px;
    padding-top: 180px;
}


.introduction> footer{
    padding-top: 110px;
}

#about-us h3{
    padding-top: 35px;
    text-align: center;
}

#about-us p{
    text-align: center;
}

#services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 50vh;
    text-align: center;   
}
#services h6{
    color: white;
    padding-top: 35px;
    font-kerning: 50px;
}

#services h3{
    padding-top: 25px;
    color: white;

}

#contact-us{
    background-image: url(./assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 50vh;
    color: white;
}

.row img{
    height: 150px;
    width: 150px;
}

.row2 img{
    height: 150px;
    width: 150px;
}


   
